@charset 'utf-8';

/* ---------------------------------------------- */

/* Reset */

/* ---------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, a,blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

ul {
  list-style: none;
}

input, button, textarea, select {
  margin: 0;
  padding: 0;
  font-family: inherit;
  background: none;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:focus, button:focus, textarea:focus, select:focus {
    outline: none;
    -webkit-box-shadow: 0 0 0 0;
            box-shadow: 0 0 0 0;
  }

select::-ms-expand {
    display: none;
  }

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }

input[type="number"] {
  -moz-appearance:textfield;
}

input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

/* ---------------------------------------------- */

/* Fonts */

/* ---------------------------------------------- */

@font-face {
    font-family: 'Noto';
    src: url('/fonts/NotoSans/noto-sans-jp-v23-japanese_latin-regular.eot');
    src: url('/fonts/NotoSans/noto-sans-jp-v23-japanese_latin-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/NotoSans/noto-sans-jp-v23-japanese_latin-regular.woff') format('woff'), url('/fonts/NotoSans/noto-sans-jp-v23-japanese_latin-regular.ttf') format('truetype'), url('/fonts/NotoSans/noto-sans-jp-v23-japanese_latin-regular.svg#Noto') format('svg');
    font-weight: 400;
    font-style: normal;
  }

/* Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/ */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
      font-family: 'Noto';
      src: url('/fonts/NotoSans/noto-sans-jp-v23-japanese_latin-regular.svg#Noto') format('svg');
    }
  }

@font-face {
    font-family: 'Noto';
    src: url('/fonts/NotoSans/noto-sans-jp-v23-japanese_latin-700.eot');
    src: url('/fonts/NotoSans/noto-sans-jp-v23-japanese_latin-700.eot?#iefix') format('embedded-opentype'), url('/fonts/NotoSans/noto-sans-jp-v23-japanese_latin-700.woff') format('woff'), url('/fonts/NotoSans/noto-sans-jp-v23-japanese_latin-700.ttf') format('truetype'), url('/fonts/NotoSans/noto-sans-jp-v23-japanese_latin-700.svg#Noto') format('svg');
    font-weight: 700;
    font-style: normal;
  }

/* Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/ */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
      font-family: 'Noto';
      src: url('/fonts/NotoSans/noto-sans-jp-v23-japanese_latin-700.svg#Noto') format('svg');
    }
  }

@font-face {
    font-family: 'Noto';
    src: url('/fonts/NotoSans/noto-sans-jp-v23-japanese_latin-900.eot');
    src: url('/fonts/NotoSans/noto-sans-jp-v23-japanese_latin-900.eot?#iefix') format('embedded-opentype'), url('/fonts/NotoSans/noto-sans-jp-v23-japanese_latin-900.woff') format('woff'), url('/fonts/NotoSans/noto-sans-jp-v23-japanese_latin-900.ttf') format('truetype'), url('/fonts/NotoSans/noto-sans-jp-v23-japanese_latin-900.svg#Noto') format('svg');
    font-weight: 900;
    font-style: normal;
  }

/* Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/ */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
      font-family: 'Noto';
      src: url('/fonts/NotoSans/noto-sans-jp-v23-japanese_latin-900.svg#Noto') format('svg');
    }
  }

@font-face {
    font-family: 'SourceCodePro';
    src: url('/fonts/SourceCodePro/source-code-pro-v9-latin-600.eot');
    src: url('/fonts/SourceCodePro/source-code-pro-v9-latin-600.eot?#iefix') format('embedded-opentype'), url('/fonts/SourceCodePro/source-code-pro-v9-latin-600.woff') format('woff'), url('/fonts/SourceCodePro/source-code-pro-v9-latin-600.ttf') format('truetype'), url('/fonts/SourceCodePro/source-code-pro-v9-latin-600.svg#SourceCodePro') format('svg');
    font-weight: 400;
    font-style: normal;
  }

/* Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/ */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
      font-family: 'SourceCodePro';
      src: url('/fonts/SourceCodePro/source-code-pro-v9-latin-600.svg#SourceCodePro') format('svg');
    }
  }

/* ---------------------------------------------- */

/* Base */

/* ---------------------------------------------- */

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  position: relative;
  color: #000;
  font-family: "Noto", Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background-color: #fff;
}

ul {
  /* list-style: dics; */
}

a {
  display: inline-block;
  color: #000;
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

hr {
  display: block;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select {
  vertical-align: middle;
}

input, select, button {
  cursor: pointer;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  cursor: auto;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display: block;
}
/*

Gruvbox style (dark) (c) Pavel Pertsev (original style at https://github.com/morhetz/gruvbox)

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #282828;
}

.hljs,
.hljs-subst {
  color: #ebdbb2;
}

/* Gruvbox Red */

.hljs-deletion,
.hljs-formula,
.hljs-keyword,
.hljs-link,
.hljs-selector-tag {
  color: #fb4934;
}

/* Gruvbox Blue */

.hljs-built_in,
.hljs-emphasis,
.hljs-name,
.hljs-quote,
.hljs-strong,
.hljs-title,
.hljs-variable {
  color: #83a598;
}

/* Gruvbox Yellow */

.hljs-attr,
.hljs-params,
.hljs-template-tag,
.hljs-type {
  color: #fabd2f;
}

/* Gruvbox Purple */

.hljs-builtin-name,
.hljs-doctag,
.hljs-literal,
.hljs-number {
  color: #8f3f71;
}

/* Gruvbox Orange */

.hljs-code,
.hljs-meta,
.hljs-regexp,
.hljs-selector-id,
.hljs-template-variable {
  color: #fe8019;
}

/* Gruvbox Green */

.hljs-addition,
.hljs-meta-string,
.hljs-section,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-string,
.hljs-symbol {
  color: #b8bb26;
}

/* Gruvbox Aqua */

.hljs-attribute,
.hljs-bullet,
.hljs-class,
.hljs-function,
.hljs-function .hljs-keyword,
.hljs-meta-keyword,
.hljs-selector-pseudo,
.hljs-tag {
  color: #8ec07c;
}

/* Gruvbox Gray */

.hljs-comment {
  color: #928374;
}

/* Gruvbox Purple */

.hljs-link_label,
.hljs-literal,
.hljs-number {
  color: #d3869b;
}

.hljs-comment,
.hljs-emphasis {
  font-style: italic;
}

.hljs-section,
.hljs-strong,
.hljs-tag {
  font-weight: bold;
}
















































































/* Defaultスタイル */
.button[data-v-ee1c3e2c] {
  padding: 8px 20px;
  display: inline-block;
  font-size: 16px;
  line-height: 1.4;
  color: #fff;
  background-color: #17abe6;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
.button[data-v-ee1c3e2c]:hover {
    opacity: .7;
}
.button--block[data-v-ee1c3e2c] {
  display: block;
  width: 100%;
}
.button--small[data-v-ee1c3e2c] {
  padding: 5px 12px;
  font-size: 14px;
}
.button--round[data-v-ee1c3e2c] {
  border-radius: 5px;
}
.button--bold[data-v-ee1c3e2c] {
  font-weight: 700;
}
.button--theme-color[data-v-ee1c3e2c] {
  color: #17abe6;
}
.button--danger[data-v-ee1c3e2c] {
  background-color: #e61717;
}
.button--bg-caution[data-v-ee1c3e2c] {
  background-color: #e6c72e;
}
.button--bg-white[data-v-ee1c3e2c] {
  background-color: #fff;
}
.button--disabled[data-v-ee1c3e2c] {
  background-color: #c0c6c9;
  cursor: default;
}
.button--disabled[data-v-ee1c3e2c]:hover {
    opacity: 1;
}
.button--pointer[data-v-ee1c3e2c] {
  cursor: pointer;
}

















































/* Defaultスタイル */
.heading--primary[data-v-07fc8e24] {
  padding: 3px 5px;
  padding-left: 15px;
  font-size: 24px;
  border-left: 5px solid #17abe6;
  border-bottom: 1px solid #eaeaea;
}
.heading--secondary[data-v-07fc8e24] {
  font-size: 20px;
  padding: 0 20px 4px 20px;
  border-bottom: 6px double #17abe6;
}
.heading--tertiary[data-v-07fc8e24] {}
.heading--quaternary[data-v-07fc8e24] {}
.heading--quinary[data-v-07fc8e24] {}
.heading--senary[data-v-07fc8e24] {}
.header__title[data-v-07fc8e24] {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}






































































/* Defaultスタイル */
.input[data-v-4d4df5d3] {
  margin-top: 5px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border-bottom: 1px solid #eaeaea;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.input[data-v-4d4df5d3]:focus {
    border-bottom-color: #17abe6;
}
.input--white-bg[data-v-4d4df5d3] {
  background-color: #fff;
}
.error[data-v-4d4df5d3] {
  margin-top: 10px;
}
.error__text[data-v-4d4df5d3] {
    display: inline-block;
    padding: 5px 20px;
    color: #e61717;
    opacity: .8;
    font-size: 13px;
    background-color: rgba(230, 23, 23, 0.08);
}
.shake-enter-active[data-v-4d4df5d3] {
  -webkit-animation: shake-data-v-4d4df5d3 .6s;
          animation: shake-data-v-4d4df5d3 .6s;
}
@-webkit-keyframes shake-data-v-4d4df5d3 {
10% { -webkit-transform: translate3d(-4px, 0, 0); transform: translate3d(-4px, 0, 0);
}
20% { -webkit-transform: translate3d(4px, 0, 0); transform: translate3d(4px, 0, 0);
}
30% { -webkit-transform: translate3d(-3px, 0, 0); transform: translate3d(-3px, 0, 0);
}
40% { -webkit-transform: translate3d(3px, 0, 0); transform: translate3d(3px, 0, 0);
}
50% { -webkit-transform: translate3d(-2px, 0, 0); transform: translate3d(-2px, 0, 0);
}
60% { -webkit-transform: translate3d(2px, 0, 0); transform: translate3d(2px, 0, 0);
}
70% { -webkit-transform: translate3d(-1px, 0, 0); transform: translate3d(-1px, 0, 0);
}
80% { -webkit-transform: translate3d(1px, 0, 0); transform: translate3d(1px, 0, 0);
}
90% { -webkit-transform: translate3d(-1px, 0, 0); transform: translate3d(-1px, 0, 0);
}
}
@keyframes shake-data-v-4d4df5d3 {
10% { -webkit-transform: translate3d(-4px, 0, 0); transform: translate3d(-4px, 0, 0);
}
20% { -webkit-transform: translate3d(4px, 0, 0); transform: translate3d(4px, 0, 0);
}
30% { -webkit-transform: translate3d(-3px, 0, 0); transform: translate3d(-3px, 0, 0);
}
40% { -webkit-transform: translate3d(3px, 0, 0); transform: translate3d(3px, 0, 0);
}
50% { -webkit-transform: translate3d(-2px, 0, 0); transform: translate3d(-2px, 0, 0);
}
60% { -webkit-transform: translate3d(2px, 0, 0); transform: translate3d(2px, 0, 0);
}
70% { -webkit-transform: translate3d(-1px, 0, 0); transform: translate3d(-1px, 0, 0);
}
80% { -webkit-transform: translate3d(1px, 0, 0); transform: translate3d(1px, 0, 0);
}
90% { -webkit-transform: translate3d(-1px, 0, 0); transform: translate3d(-1px, 0, 0);
}
}




















































/* Defaultスタイル */
.list-item[data-v-90f4a8d8] {
  font-size: 14px;
  text-align: left;
}
/* Unique（For Props）スタイル */
.list-item--flex[data-v-90f4a8d8] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.list-item--space-beetween[data-v-90f4a8d8] {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.list-item--align-items[data-v-90f4a8d8] {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list-item--bg-white[data-v-90f4a8d8] {
  background-color: #fff;
}
.list-item--large[data-v-90f4a8d8] {
  padding: 10px;
}
.list-item--border-bottom-gray[data-v-90f4a8d8] {
  border-bottom: 1px solid #eaeaea;
}





































































/* Defaultスタイル */
.text[data-v-0bc2a855] {
  font-size: 16px;
}
.text--bold[data-v-0bc2a855] {
  font-weight: 700;
}
.text--inline-block[data-v-0bc2a855] {
  display: inline-block;
}
.text--themecolor[data-v-0bc2a855] {
  color: #17abe6;
}
.text--bg-success[data-v-0bc2a855] {
  padding: 10px 15px;
  color: #fff;
  border-left: 8px solid #17abe6;
  background-color: rgba(23, 171, 230, 0.8);
}
.text--error[data-v-0bc2a855] {
  color: #e61717;
}
.text--bg-error[data-v-0bc2a855] {
  padding: 10px 15px;
  color: #fff;
  border-left: 8px solid #e61717;
  background-color: rgba(230, 23, 23, 0.8);
}
.text--ex-large[data-v-0bc2a855] {
  font-size: 24px;
}
.text--small[data-v-0bc2a855] {
  font-size: 14px;
}
.text--ex-small[data-v-0bc2a855] {
  font-size: 12px;
}
/* Unique（For Props）スタイル */




































































/* Defaultスタイル */
.textarea[data-v-c169039e] {
  display: block;
  margin-top: 5px;
  padding: 10px;
  width: 100%;
  height: 500px;
  font-size: 16px;
  border: 1px solid #ccc;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.textarea[data-v-c169039e]:focus {
    border-color: #17abe6;
}
.textarea--white-bg[data-v-c169039e] {
  background-color: #fff;
}
.error[data-v-c169039e] {
  margin-top: 10px;
}
.error__text[data-v-c169039e] {
    display: inline-block;
    padding: 5px 20px;
    color: #e61717;
    opacity: .8;
    font-size: 13px;
    background-color: rgba(230, 23, 23, 0.08);
}
.shake-enter-active[data-v-c169039e] {
  -webkit-animation: shake-data-v-c169039e .6s;
          animation: shake-data-v-c169039e .6s;
}
@-webkit-keyframes shake-data-v-c169039e {
10% { -webkit-transform: translate3d(-4px, 0, 0); transform: translate3d(-4px, 0, 0);
}
20% { -webkit-transform: translate3d(4px, 0, 0); transform: translate3d(4px, 0, 0);
}
30% { -webkit-transform: translate3d(-3px, 0, 0); transform: translate3d(-3px, 0, 0);
}
40% { -webkit-transform: translate3d(3px, 0, 0); transform: translate3d(3px, 0, 0);
}
50% { -webkit-transform: translate3d(-2px, 0, 0); transform: translate3d(-2px, 0, 0);
}
60% { -webkit-transform: translate3d(2px, 0, 0); transform: translate3d(2px, 0, 0);
}
70% { -webkit-transform: translate3d(-1px, 0, 0); transform: translate3d(-1px, 0, 0);
}
80% { -webkit-transform: translate3d(1px, 0, 0); transform: translate3d(1px, 0, 0);
}
90% { -webkit-transform: translate3d(-1px, 0, 0); transform: translate3d(-1px, 0, 0);
}
}
@keyframes shake-data-v-c169039e {
10% { -webkit-transform: translate3d(-4px, 0, 0); transform: translate3d(-4px, 0, 0);
}
20% { -webkit-transform: translate3d(4px, 0, 0); transform: translate3d(4px, 0, 0);
}
30% { -webkit-transform: translate3d(-3px, 0, 0); transform: translate3d(-3px, 0, 0);
}
40% { -webkit-transform: translate3d(3px, 0, 0); transform: translate3d(3px, 0, 0);
}
50% { -webkit-transform: translate3d(-2px, 0, 0); transform: translate3d(-2px, 0, 0);
}
60% { -webkit-transform: translate3d(2px, 0, 0); transform: translate3d(2px, 0, 0);
}
70% { -webkit-transform: translate3d(-1px, 0, 0); transform: translate3d(-1px, 0, 0);
}
80% { -webkit-transform: translate3d(1px, 0, 0); transform: translate3d(1px, 0, 0);
}
90% { -webkit-transform: translate3d(-1px, 0, 0); transform: translate3d(-1px, 0, 0);
}
}


.router-link[data-v-4ffc092a] {
  font-size: 16px;
  -webkit-transition: all .5s;
  transition: all .5s;
  line-height: 1.4;
}
.router-link.is-active[data-v-4ffc092a] {
    color: #337480;
    font-weight: bold;
    background-color: #fff;
    pointer-events: none;
}
.router-link--hover-opacity[data-v-4ffc092a] {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
.router-link--hover-opacity[data-v-4ffc092a]:hover {
    opacity: .7;
}
.router-link--hover-underline[data-v-4ffc092a]:hover {
    text-decoration: underline;
}
.router-link--block[data-v-4ffc092a] {
  display: block;
}
.router-link--large[data-v-4ffc092a] {
  padding: 10px 20px;
}
.router-link--small[data-v-4ffc092a] {
  padding: 5px 10px;
  font-size: 14px;
}
.router-link--underline[data-v-4ffc092a] {
  text-decoration: underline;
}
.router-link--themecolor[data-v-4ffc092a] {
  color: #17abe6;
}
.router-link--danger[data-v-4ffc092a] {
  color: #e61717;
}
.router-link--white[data-v-4ffc092a] {
  color: #fff;
}
.router-link--bg-themecolor[data-v-4ffc092a] {
  background-color: #17abe6;
}
.router-link--bg-danger[data-v-4ffc092a] {
  background-color: #e61717;
}
.router-link--bg-lightgreen[data-v-4ffc092a] {
  background-color: #59994d;
}
.router-link--round[data-v-4ffc092a] {
  border-radius: 5px;
}


















































































/* markdown-view */
.markdown-view--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
/* markdown-view__body */
.markdown-view__body {
  padding: 10px;
  width: 100%;
  font-size: 16px;
}
.markdown-view__body--wide {
  padding: 10px 30px 50px;
}
.markdown-view__body--white-bg {
  background-color: #fff;
}
/* markdown-view__index */
.markdown-view__index {
  margin-left: 5%;
  width: 30%;
  background: #fff;
  padding: 16px;
}
.markdown-view__index-title {
  font-size: 16px;
  color: #17abe6;
  font-weight: bold;
  border-bottom: 1px solid #17abe6;
  padding-left: 16px;
  margin-bottom: 16px;
}
.markdown-view__index__anchor {
  display: block;
  cursor: pointer;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
.markdown-view__index__anchor:hover {
    opacity: .7;
}
.markdown-view__index__anchor.is-article-title-h1 {
    font-size: 20px;
    font-weight: bold;
}
.markdown-view__index__anchor.is-article-title-h2 {
    font-size: 14px;
    position: relative;
    padding-left: 16px;
    margin-left: 16px;
}
.markdown-view__index__anchor.is-article-title-h2:after {
      content: '';
      position: absolute;
      display: block;
      width: 10px;
      height: 2px;
      background-color: #17abe6;
      top: calc(50% - 2px);
      left: 0;
}
/* --------------------------------------------------- */
/* マークダウンの中身のスタイル */
.markdown-view * + pre {
    margin-top: 20px;
}
.markdown-view .attention {
    font-weight: $black;
    color: #e61717;
}
.markdown-view pre {
    margin-left: -30px;
    margin-right: -30px;
    padding: 20px 30px;
    font-size: 14px;
    line-height: 1.4;
    border-radius: 3px;
}
.markdown-view pre * {
      font-family: SourceCodePro;
      font-weight: 400;
}
.markdown-view pre + * {
      margin-top: 20px;
}
.markdown-view h1 {
    margin-bottom: 30px;
    padding: 10px 15px;
    font-size: 34px;
    line-height: 1.4;
    border-bottom: 1px solid #17abe6;
}
.markdown-view h1 + h2 {
      margin-top: 0;
}
.markdown-view h2 {
    position: relative;
    margin: 30px 0 15px;
    padding: 0 30px;
    font-size: 26px;
    line-height: 1.6;
    border-bottom: 1px solid #e0e0e0;
}
.markdown-view h2:before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 10px;
      height: 10px;
      border-right: 3px solid #e0e0e0;
      border-bottom: 3px solid #e0e0e0;
      -webkit-transform: translateY(-50%) rotate(-45deg);
          -ms-transform: translateY(-50%) rotate(-45deg);
              transform: translateY(-50%) rotate(-45deg);
      content: "";
}
.markdown-view h3 {
    font-size: 20px;
}
.markdown-view h4 {
    font-size: 18px;
}
.markdown-view h5 {
    font-size: 16px;
}
.markdown-view hr {
    margin: 40px auto;
    width: 90%;
}
.markdown-view p + p,
    .markdown-view p + ul,
    .markdown-view p + ol,
    .markdown-view p + table,
    .markdown-view p + img {
      margin-top: 15px;
}
.markdown-view p > code {
      padding: 3px 5px;
      color: #ebdbb2;
      font-family: SourceCodePro;
      font-weight: 400;
      font-size: 15px;
      background-color: #282828;
      border-radius: 3px;
}
.markdown-view p strong {
      font-weight: 900;
}
.markdown-view p a {
      text-decoration: underline;
      color: #00f;
}
.markdown-view p a:hover {
        text-decoration: none;
}
.markdown-view img + p,
    .markdown-view img + ul,
    .markdown-view img + ol,
    .markdown-view img + table,
    .markdown-view img + img {
      margin-top: 15px;
}
.markdown-view ul {
    list-style: disc;
}
.markdown-view ul, .markdown-view ol {
    display: inline-block;
    padding: 10px 20px;
    padding-left: 40px;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #fcfcfc;
}
.markdown-view ul li, .markdown-view ol li {
      /* display: inline-block; */
      /* border-bottom: 1px solid #efefef; */
      padding: 3px 0;
      line-height: 1.2;
      text-decoration: underline;
}
.markdown-view ul code, .markdown-view ol code {
      text-decoration: underline;
}
.markdown-view ul + p,
    .markdown-view ul + ul,
    .markdown-view ul + ol,
    .markdown-view ul + table,
    .markdown-view ul + img,
    .markdown-view ol + p,
    .markdown-view ol + ul,
    .markdown-view ol + ol,
    .markdown-view ol + table,
    .markdown-view ol + img {
      margin-top: 15px;
}
.markdown-view table th {
      background-color: #ebf6f7;
}
.markdown-view table td, .markdown-view table th {
      border: 1px solid #ccc;
      padding: 5px 20px;
}
.markdown-view table + p,
    .markdown-view table + ul,
    .markdown-view table + ol,
    .markdown-view table + img {
      margin-top: 15px;
}
.markdown-view table code, .markdown-view ul code, .markdown-view ol code {
      display: inline-block;
      padding: 1px 5px;
      color: #282828;
      font-family: SourceCodePro;
      font-weight: 400;
      font-size: 15px;
      border-radius: 3px;
      background-color: #f8f4e6;
}


select[data-v-50377936] {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border-bottom: 1px solid #eaeaea;
  -webkit-transition: all .5s;
  transition: all .5s;
}
select[data-v-50377936]:focus {
    border-bottom-color: #17abe6;
}
.select__inner[data-v-50377936] {
  margin-top: 5px;
  position: relative;
}
.select__inner[data-v-50377936]:after {
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    border-top: 5px solid #17abe6;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: "";
    pointer-events: none;
}
.error[data-v-50377936] {
  margin-top: 10px;
}
.error__text[data-v-50377936] {
    display: inline-block;
    padding: 5px 20px;
    color: #e61717;
    opacity: .8;
    font-size: 13px;
    background-color: rgba(230, 23, 23, 0.08);
}
.shake-enter-active[data-v-50377936] {
  -webkit-animation: shake-data-v-50377936 .6s;
          animation: shake-data-v-50377936 .6s;
}
@-webkit-keyframes shake-data-v-50377936 {
10% { -webkit-transform: translate3d(-4px, 0, 0); transform: translate3d(-4px, 0, 0);
}
20% { -webkit-transform: translate3d(4px, 0, 0); transform: translate3d(4px, 0, 0);
}
30% { -webkit-transform: translate3d(-3px, 0, 0); transform: translate3d(-3px, 0, 0);
}
40% { -webkit-transform: translate3d(3px, 0, 0); transform: translate3d(3px, 0, 0);
}
50% { -webkit-transform: translate3d(-2px, 0, 0); transform: translate3d(-2px, 0, 0);
}
60% { -webkit-transform: translate3d(2px, 0, 0); transform: translate3d(2px, 0, 0);
}
70% { -webkit-transform: translate3d(-1px, 0, 0); transform: translate3d(-1px, 0, 0);
}
80% { -webkit-transform: translate3d(1px, 0, 0); transform: translate3d(1px, 0, 0);
}
90% { -webkit-transform: translate3d(-1px, 0, 0); transform: translate3d(-1px, 0, 0);
}
}
@keyframes shake-data-v-50377936 {
10% { -webkit-transform: translate3d(-4px, 0, 0); transform: translate3d(-4px, 0, 0);
}
20% { -webkit-transform: translate3d(4px, 0, 0); transform: translate3d(4px, 0, 0);
}
30% { -webkit-transform: translate3d(-3px, 0, 0); transform: translate3d(-3px, 0, 0);
}
40% { -webkit-transform: translate3d(3px, 0, 0); transform: translate3d(3px, 0, 0);
}
50% { -webkit-transform: translate3d(-2px, 0, 0); transform: translate3d(-2px, 0, 0);
}
60% { -webkit-transform: translate3d(2px, 0, 0); transform: translate3d(2px, 0, 0);
}
70% { -webkit-transform: translate3d(-1px, 0, 0); transform: translate3d(-1px, 0, 0);
}
80% { -webkit-transform: translate3d(1px, 0, 0); transform: translate3d(1px, 0, 0);
}
90% { -webkit-transform: translate3d(-1px, 0, 0); transform: translate3d(-1px, 0, 0);
}
}


.modal-wrapper[data-v-7bde45c4] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.modal-wrapper-is-show[data-v-7bde45c4] {
    pointer-events: auto;
    opacity: 1;
}
.modal-overlay[data-v-7bde45c4] {
  background-color: rgba(0,0,0, .7);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 20;
}
.modal-content[data-v-7bde45c4] {
  position: absolute;
  padding: 10px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 400px;
  min-height: 300px;
  z-index: 30;
}























































/* markdown-view__index */
.markdown-index[data-v-3771f4f8] {
  background: #fff;
  padding: 16px;
}
.markdown-index-title[data-v-3771f4f8] {
  font-size: 16px;
  color: #17abe6;
  font-weight: bold;
  border-bottom: 1px solid #17abe6;
  padding-left: 16px;
  margin-bottom: 16px;
}
.markdown-index__anchor[data-v-3771f4f8] {
  display: block;
  cursor: pointer;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
.markdown-index__anchor[data-v-3771f4f8]:hover {
    opacity: .7;
}
.markdown-index__anchor.is-article-title-h1[data-v-3771f4f8] {
    font-size: 20px;
    font-weight: bold;
}
.markdown-index__anchor.is-article-title-h2[data-v-3771f4f8] {
    font-size: 14px;
    position: relative;
    padding-left: 16px;
    margin-left: 16px;
}
.markdown-index__anchor.is-article-title-h2[data-v-3771f4f8]:after {
      content: '';
      position: absolute;
      display: block;
      width: 10px;
      height: 2px;
      background-color: #17abe6;
      top: calc(50% - 2px);
      left: 0;
}


.header[data-v-2475957c] {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  width: 100%;
  background-color: #17abe6;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, .6);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, .6);
  z-index: 3;
}
.header__profile[data-v-2475957c] {
    position: relative;
}
.header__profile .fade-enter-active[data-v-2475957c], .header__profile .fade-leave-active[data-v-2475957c] {
      -webkit-transition: opacity .2s;
      transition: opacity .2s;
}
.header__profile .fade-enter[data-v-2475957c], .header__profile .fade-leave-to[data-v-2475957c] {
      opacity: 0;
}
.header__profile__list[data-v-2475957c] {
      position: absolute;
      top: 100%;
      right: 0;
      margin-top: 5px;
      padding: 5px 10px;
      width: 160px;
      border: 1px solid #eaeaea;
      border-radius: 5px;
      background-color: #fff;
}
.header__profile__list > li[data-v-2475957c] {
        border-top: 1px solid #eaeaea;
}
.header__profile__list > li[data-v-2475957c]:first-child {
          border: none;
}


.login[data-v-1b26da3e] {
  margin: 100px auto 0;
  padding: 40px;
  max-width: 500px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px #ccc;
          box-shadow: 0 0 10px #ccc;
}
.login-form + .login-form[data-v-1b26da3e] {
      margin-top: 25px;
}
.login-error[data-v-1b26da3e] {
    margin-top: 20px;
}
.login-button[data-v-1b26da3e] {
    margin-top: 20px;
}


.password-form__body[data-v-8bb2201c] {
    margin-top: 20px;
}
.password-form__body__input[data-v-8bb2201c] {
      margin-top: 20px;
}
.password-form__body__button[data-v-8bb2201c] {
      margin-top: 20px;
}
.password-form__body__notice[data-v-8bb2201c] {
      margin-top: 20px;
}


.profile__info[data-v-51ed1d58] {
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
}
.profile__info__row[data-v-51ed1d58] {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 10px;
      border-bottom: 1px solid #eaeaea;
}
.profile__info__row[data-v-51ed1d58]:first-child {
        margin-top: 0;
}
.profile__info__row__title[data-v-51ed1d58] {
        width: 20%;
        /* text-align: right; */
}
.profile__info__row__content[data-v-51ed1d58] {
        margin-left: 10%;
        width: 70%;
}
.profile__button[data-v-51ed1d58] {
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
}


.home-article__list[data-v-343534d6] {
  margin-top: 10px;
}
.home-article__list > li[data-v-343534d6] {
    padding: 10px;
    border-top: 1px solid #eaeaea;
}
.home-article__list > li[data-v-343534d6]:first-child {
      border-top: none;
}
.home-article__list__category[data-v-343534d6] {
    display: block;
    font-weight: bold;
    font-size: 14px;
    color: #17abe6;
}
.home-article__list__title[data-v-343534d6] {
    margin-top: 5px;
}
.home-article__button[data-v-343534d6] {
  margin-top: 10px;
}


.article-list__articles[data-v-09f9248e] {
    margin-top: 16px;
}
.article-list__articles .fade-enter-active[data-v-09f9248e], .article-list__articles .fade-leave-active[data-v-09f9248e] {
      -webkit-transition: opacity .5s;
      transition: opacity .5s;
}
.article-list .fade-enter[data-v-09f9248e], .article-list .fade-leave-to[data-v-09f9248e] {
    opacity: 0;
}
.article-list__title[data-v-09f9248e] {
    width: 60%;
}
.article-list__create-link[data-v-09f9248e] {
    margin-top: 16px;
}
.article-list__links *[data-v-09f9248e]:not(first-child) {
      margin-left: 16px;
}
.article-list__notice--create[data-v-09f9248e] {
    margin-bottom: 16px;
}


.users-create__back[data-v-f93587c2] {
    margin-top: 20px;
}
.users-create__form[data-v-f93587c2] {
    margin-top: 20px;
}
.users-create__input[data-v-f93587c2] {
    margin-top: 20px;
}
.users-create__input[data-v-f93587c2]:first-child {
      margin-top: 0;
}
.users-create__notice[data-v-f93587c2] {
    margin-top: 20px;
}
.users-create__button[data-v-f93587c2] {
    margin-top: 20px;
}


.user-table[data-v-93e82680] {
  width: 100%;
  text-align: left;
  background-color: #fff;
}
.user-table tr[data-v-93e82680] {
    border-bottom: 1px solid #eaeaea;
}
.user-table__head th[data-v-93e82680] {
      padding: 5px 10px;
      vertical-align: middle;
}
.user-table__body td[data-v-93e82680] {
      padding: 10px;
      vertical-align: middle;
}
.user-table__body td.is-disabled[data-v-93e82680] {
        color: #c0c6c9;
        font-size: 12px;
}
.user-table__body .fade-enter-active[data-v-93e82680], .user-table__body .fade-leave-active[data-v-93e82680] {
      -webkit-transition: opacity .5s;
      transition: opacity .5s;
}
.user-table__body .fade-enter[data-v-93e82680], .user-table__body .fade-leave-to[data-v-93e82680] {
      opacity: 0;
}


.users-detail__back[data-v-10ddbc4e] {
    margin-top: 20px;
}
.users-detail__notice[data-v-10ddbc4e] {
    margin-top: 20px;
}
.users-detail__info[data-v-10ddbc4e] {
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
}
.users-detail__info__row[data-v-10ddbc4e] {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 20px;
}
.users-detail__info__row[data-v-10ddbc4e]:first-child {
        margin-top: 0;
}
.users-detail__info__row__title[data-v-10ddbc4e] {
        width: 20%;
        text-align: right;
}
.users-detail__info__row__content[data-v-10ddbc4e] {
        margin-left: 10%;
        width: 70%;
}
.users-detail__info__submit[data-v-10ddbc4e] {
      text-align: right;
      margin-top: 20px;
}


.users-list__create[data-v-cdd1fa18] {
    margin-top: 20px;
}
.users-list__notice[data-v-cdd1fa18] {
    margin-top: 20px;
}
.users-list__number[data-v-cdd1fa18] {
    margin-top: 20px;
}


.category-management-post__input[data-v-62701fc6] {
    margin-top: 16px;
}
.category-management-post__submit[data-v-62701fc6] {
    margin-top: 16px;
}
.category-management-post__notice[data-v-62701fc6] {
    margin-top: 16px;
}


.category-list[data-v-6a48a660] {
  padding: 10px 0 20px;
  height: 100%;
  overflow: scroll;
}
.category-list__table[data-v-6a48a660] {
    width: 100%;
    text-align: left;
}
.category-list__table tr[data-v-6a48a660] {
      border-bottom: 1px solid #eaeaea;
}
.category-list__table__head th[data-v-6a48a660] {
        padding: 5px 10px;
        vertical-align: middle;
}
.category-list__table__body td[data-v-6a48a660] {
        padding: 10px;
        vertical-align: middle;
}
.category-list__table__body td.is-disabled[data-v-6a48a660] {
          color: #c0c6c9;
          font-size: 12px;
}
.category-list__table__body .fade-enter-active[data-v-6a48a660], .category-list__table__body .fade-leave-active[data-v-6a48a660] {
        -webkit-transition: opacity .5s;
        transition: opacity .5s;
}
.category-list__table__body .fade-enter[data-v-6a48a660], .category-list__table__body .fade-leave-to[data-v-6a48a660] {
        opacity: 0;
}
.category-list__modal[data-v-6a48a660] {
  text-align: center;
}
.category-list__modal__name[data-v-6a48a660] {
    margin-top: 16px;
    font-size: 16px;
    color: #17abe6;
}
.category-list__modal__button[data-v-6a48a660] {
    margin-top: 48px;
}


.article-edit__columns[data-v-04686f45] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
}
.article-edit-editor[data-v-04686f45] {
    padding-right: 2%;
    width: 50%;
    border-right: 1px solid #ccc;
}
.article-edit-editor-title[data-v-04686f45] {
      margin-top: 16px;
}
.article-edit-preview[data-v-04686f45] {
    margin-left: 2%;
    width: 48%;
    overflow-y: scroll;
    background-color: #fff;
}
.article-edit-form[data-v-04686f45] {
    margin-top: 20px;
}
.article-edit-submit[data-v-04686f45] {
    margin-top: 16px;
}
.article-edit__notice--update[data-v-04686f45] {
    margin-bottom: 16px;
}


.article-post-editor[data-v-614321b4] {
    padding-right: 2%;
    width: 50%;
    border-right: 1px solid #ccc;
}
.article-post-editor-title[data-v-614321b4] {
      margin-top: 16px;
}
.article-post__columns[data-v-614321b4] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.article-post-preview[data-v-614321b4] {
    margin-left: 2%;
    width: 48%;
    overflow-y: scroll;
    background-color: #fff;
}
.article-post-form[data-v-614321b4] {
    margin-top: 20px;
}
.article-post-submit[data-v-614321b4] {
    margin-top: 16px;
}
.article-post__notice[data-v-614321b4] {
    margin-bottom: 16px;
}


.article-detail__markdown[data-v-100984c4] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.article-detail__markdown__preview[data-v-100984c4] {
      width: 70%;
}
.article-detail__markdown__index[data-v-100984c4] {
      width: 30%;
}
.article-detail__index[data-v-100984c4] {
    margin-left: 5%;
    width: 30%;
    height: 300px;
    background-color: #fff;
}
.article-detail-links[data-v-100984c4] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 16px 0 0;
}


.delete-modal__content[data-v-045c80f3] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px;
}
.delete-modal__button[data-v-045c80f3] {
    width: 47%;
}


.notice[data-v-03cd26c3] {
  margin-top: 80px;
  width: 100%;
  text-align: center;
}
.notice__link[data-v-03cd26c3] {
    margin-top: 40px;
}


.sidebar[data-v-4d62ee13] {
  position: fixed;
  top: 54px;
  left: 0;
  padding: 10px;
  width: 200px;
  height: 100%;
  color: #fff;
  text-align: center;
  background-color: #337480;
  z-index: 2;
}


.content[data-v-5ee53fb1] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 54px;
  z-index: 1;
}
.content.articlePost[data-v-5ee53fb1],
  .content.articleEdit[data-v-5ee53fb1] {
    height: 100vh;
}
.content-main[data-v-5ee53fb1] {
    padding-left: 200px;
    width: 100%;
}
.content-main.signin[data-v-5ee53fb1],
    .content-main.signout[data-v-5ee53fb1],
    .content-main.notfound[data-v-5ee53fb1] {
      padding-left: 0;
}
.content-inner[data-v-5ee53fb1] {
    padding: 20px;
    height: 100%;
}


.login[data-v-0e18320a] {
  margin: 100px auto 0;
  padding: 40px;
  max-width: 500px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px #ccc;
          box-shadow: 0 0 10px #ccc;
}
.login-form + .login-form[data-v-0e18320a] {
      margin-top: 25px;
}
.login-error[data-v-0e18320a] {
    margin-top: 20px;
    color: #e61717;
}
.login-button[data-v-0e18320a] {
    margin-top: 20px;
}


.home__content[data-v-a572452a] {
  margin-top: 20px;
}
.home__content[data-v-a572452a]:first-child {
    margin-top: 0;
}


.article-edit[data-v-466bc4aa] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.article-edit-editor[data-v-466bc4aa] {
    padding-right: 2%;
    width: 50%;
    border-right: 1px solid #ccc;
}
.article-edit-preview[data-v-466bc4aa] {
    margin-left: 2%;
    width: 48%;
    overflow-y: scroll;
    background-color: #fff;
}
.article-edit-form[data-v-466bc4aa] {
    margin-top: 20px;
}


.user-list__table[data-v-2dbcb78a] {
    margin-top: 20px;
}

